{% extends 'appcoder/base.html' %}

{% block main_content %}

<div class="container mt-5">
    <table class="table">

        <thead>
            <tr>
                <th>Nombre</th>
                <th>Camada</th>
            </tr>
        </thead>

        <tbody>
            {% for curso in cursos %}
                <tr>
                <td>{{curso.nombre}}</td>
                <td>{{curso.camada}}</td>
                </tr>
            {% endfor %}
        </tbody>


    </table>
</div>
{% endblock main_content %}